td {
    width: 100px;
    height: 100px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 5em;
    font-weight: 400;
    text-align: center;
}

td:hover{
    background-color: yellowgreen;
}

#play-again{
    width: 200px;
    height: 40px;
    border-radius: 20%;
    background-color: peru;
    margin-top: 30px;
}

#play-again:hover{
    margin-top: 30px;
    background-color: pink;
    border: 2px solid blue;
}
